@import "./Variables.scss";

.announcements {
  display: grid;
  grid:
    [row1-start] "header header" 10% [row1-end]
    [row2-start] "main side-1" 1fr [row2-end]
    [row3-start] "main side-2" 1fr [row3-end]
    [row4-start] "main side-3" 1fr [row4-end]
    / 60% 1fr;
  grid-gap: 15px;
}

.main-msg {
  grid-area: main;
  font-size: 2em;
}

.side-msg {
  font-size: 1.05em;
}

.card {
  border-radius: 10px;
  background: rgba($color: #fff, $alpha: 0.4);
  padding: 20px;
  max-width: 100%; /* width required for text-overflow to work */
  max-height: 100%;
}

.msg {
  display: grid;
  grid-template-rows: 1fr auto;

  .time {
    grid-row: 2;
    justify-self: flex-end;
    align-self: flex-end;
    color: $accent-clr;
  }
  .text {
    grid-row: 1;

    .title {
      font-family: SofiaProSemiBold;
    }
  }
}

.text {
  font-size: 1.2em;
  color: $main-clr;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
