header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  overflow: hidden; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
}

a {
  flex: 0 0 50%;
  display: flex;
  align-content: center;
}

.vh-logo {
  width: 50%;
  flex: 0 0 50%;
}
