@import "./Variables.scss";

.schedule {
  display: grid;
  grid:
    [row1-start] "header header header" 1fr [row1-end]
    [row2-start] "now next future" 4fr [row2-end]
    / 1fr 1fr 1fr;
  grid-gap: 15px;
  font-size: 1.3em;
  overflow: hidden; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
}

.event {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;

  .time {
    grid-row: 3;
    justify-self: flex-end;
    align-self: flex-end;
    color: $accent-clr;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-row: 2;
  }
  .where {
    grid-row: 1;
    color: $accent-clr;
    font-size: 1.1em;
  }
}
